# TEMPORARY SECRET - DO NOT USE THIS
DJANGO_SETTINGS_MODULE=src.config.local
DJANGO_SECRET_KEY='m8%+0op!ce_3z6_u=39y*in@a^i4#x=^@$@pkxsz-j*f8bh)+k'
DJANGO_DEBUG=True

DB_NAME=database
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_FROM=noreply@somehost.local

FACEBOOK_KEY=
FACEBOOK_SECRET=

SENTRY_DSN=

SITE_URL=http://localhost:8001
